@page "/confirmar-email"
@inherits ConfirmEmailPage
@layout NotAuthenticateLayout

<PageTitle>RealtyHub - Confirmar Email</PageTitle>

<MudGrid style="height: 85vh;" Class="d-flex align-center justify-center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <MudText>
                @Status
            </MudText>
            
            <MudIcon Icon="@(Success ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Error)"></MudIcon>

            <div class="d-flex mt-8">
                <MudButton ButtonType="ButtonType.Submit"
                           Href="/login"
                           Variant="Variant.Filled"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Home">
                    Ir para página de login
                </MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>