@page "/sair"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle>RealtyHub - Sair</PageTitle>

<MudText Typo="Typo.h3">Finalizando Sessão...</MudText>

<MudPaper Class="pa-8 mt-4">
    <Logo Width="200" />

    <MudAlert Severity="Severity.Info">
        <div>
            Sessão Finalizada... 
            <MudButton Variant="Variant.Text"
                       Href="/" 
                       StartIcon="@Icons.Material.Filled.Login">
                Ir para a página de login
            </MudButton>
        </div>
    </MudAlert>
</MudPaper>