<div class="d-flex justify-center pb-8 pt-8">
    <img src="@Configuration.SrcLogo"
         alt="RealtyHub - Portal Imobiliário"
         width="@Width" />
</div>

@code
{
    [Parameter] 
    public string Width { get; set; } = "200";
}